3d_cnn/rotation.py
3d_cnn/deploy_cluster_cv.sh
3d_cnn/snakefile_cv
3d_cnn/test_unfold.py
3d_cnn/venv/
3d_cnn/statistical_analysis_scripts
3d_cnn/pipelines/motl_organelle_jobs/
3d_cnn/TM_performance_analysis.py
3d_cnn/run_python_script.sh
3d_cnn/script4mauricio.py
3d_cnn/test.py
3d_cnn/stats
3d_cnn/stats/*
3d_cnn/*.pdf
3d_cnn/src/constants/sasha/
3d_cnn/scripts/test.py
3d_cnn/pipelines/plotting_utils.py
3d_cnn/src/__pycache__/
.idea
.snakemake
3d_cnn/src/*/*/__pycache__/*
3d_cnn/src/*/__pycache__/*
3d_cnn/._yeast_metadata.csv
